<!DOCTYPE html>
<html>
  <head>
    <title>TodoListApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
      <% if signed_in? %>
          <%= link_to "Salir", destroy_user_session_path, method: :delete %>
      <% end %>
    </div>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
